name: CI Ejercicio Completo

on:
  push:
    branches:
      - "feature/**"
      - "deploy"
      - "release/**"
      - "main"
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - "deploy"
      - "release/**"

jobs:
  test:
    name: Instalación y Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del Código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Instalar Dependencias
        run: npm install

      - name: Ejecutar Tests
        run: npm test

  # GENERACIÓN DE DOCUMENTACIÓN
  docs:
    needs: test
    name: Generar y Desplegar Documentación
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout del Código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Instalar Dependencias (Necesario para 'jsdoc')
        run: npm install

      # CORRECCIÓN: Llamamos al script 'docs' en package.json en lugar
      # de ejecutar el comando directo que contenía el argumento -c jsdoc.json.
      - name: Generar Documentación
        run: npm run docs

      - name: Desplegar a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages

  #Despliegue S3 AWS
  deploy-s3:
    # Solo se ejecuta si el job 'test' pasa y estamos en la rama 'main'
    needs: test
    name: Despliegue a Producción (S3)
    runs-on: ubuntu-latest

    # Se despliega el código final a S3 cuando se hace push a 'main'
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout del Código
        uses: actions/checkout@v4

      # Configurar las credenciales de AWS usando los secrets de GitHub
      - name: Configurar Credenciales de AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1 # Reemplaza si tu bucket está en otra región

      # Sincronizar la carpeta de código fuente (src/) con el bucket S3
      - name: Desplegar Archivos a S3
        # IMPORTANTE: El nombre del bucket debe coincidir con el dominio: cicd.nachomt.work.gd
        run: |
          aws s3 sync src/ s3://cicd.nachomt.work.gd --delete
